{% extends 'base.html.twig' %}

{% block body %}
<h1>Nos derniers livres</h1>


{% block subTitle %}{% endblock %}

<hr />

{% for book in books %}
    <div>
        <p>{{ book.title }}</p>
        <p>Prix : {{ book.price }} €</p>
        <p>Dernière modification : {{ book.updatedAt|date('d/m/Y à H:i', 'Europe/Paris') }}</p>
        <p>Catégories :</p>
        <nav>
            {% for catego in book.category %}
                <a href="">{{ catego.name }}</a>
                <a href="{{ path('app_cat_display', {id: catego.id}) }}">{{ catego.name }}</a>
            {% endfor %}
        </nav>
        <p>
            <a href="{{ path('app_basket_add', {id: book.id}) }}">Ajouter au panier</a>
        </p>


    </div>
    <hr />
{% endfor %}

{% endblock %}